#saibaMais {
    padding: 17px 40px;
    text-align: center;
    border-radius: 10px;
    border: 0;
    background-color: #011933;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(4, 1, 29) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
   }
   
   #saibaMais:hover {
    box-shadow: rgb(0, 2, 37) 0px 7px 0px 0px;
   }
   
   #saibaMais:active {
    background-color: #011933;
    box-shadow: rgb(4, 1, 29) 0px 10px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
   }