#Sponsors {
    background: #A3D7E5;
    text-align: center;
    align-items: center;
}

img {
    padding: 5%;
    width: 450px;
}

h2 {
    color: #011933;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.68px;
}